.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  background-color: var(--main-background);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.theme1 {
  --main-background:hsl(222, 26%, 31%);
  --header-text:hsl(0, 0%, 100%);
  --secondary-background:hsl(223, 31%, 20%);
  --screen-background:hsl(224, 36%, 15%);
  --screen-text:hsl(0, 0%, 100%);;
  --main-key-background:hsl(30, 25%, 89%);
  --main-key-border:hsl(28, 16%, 65%);
  --main-key-color:hsl(221, 14%, 31%);
  --secondary-key-background:hsl(225, 21%, 49%);
  --secondary-key-border:hsl(224, 28%, 35%);
  --secondary-key-color:hsl(0, 0%, 100%);
  --equal-key-background:hsl(6, 63%, 50%);
  --equal-key-border:hsl(6, 70%, 34%);
  --equal-key-color:hsl(0, 0%, 100%);
}

.theme2 {
  --main-background:hsl(0, 0%, 90%);
  --header-text:hsl(60, 10%, 19%);
  --secondary-background:hsl(0, 5%, 81%);
  --screen-background:hsl(0, 0%, 93%);
  --screen-text:hsl(60, 10%, 19%);
  --main-key-background:hsl(45, 7%, 89%);
  --main-key-border:hsl(35, 11%, 61%);
  --main-key-color:hsl(60, 10%, 19%);
  --secondary-key-background:hsl(185, 42%, 37%);
  --secondary-key-border:hsl(185, 58%, 25%);
  --secondary-key-color:hsl(0, 0%, 100%);
  --equal-key-background:hsl(25, 98%, 40%);
  --equal-key-border:hsl(25, 99%, 27%);
  --equal-key-color:hsl(0, 0%, 100%);
}

.theme3 {
  --main-background:hsl(268, 75%, 9%);
  --header-text:hsl(52, 100%, 62%);
  --secondary-background:hsl(268, 71%, 12%);
  --screen-background:hsl(268, 71%, 12%);
  --screen-text:hsl(52, 100%, 62%);
  --main-key-background:hsl(268, 47%, 21%);
  --main-key-border:hsl(290, 70%, 36%);
  --main-key-color:hsl(52, 100%, 62%);
  --secondary-key-background:hsl(281, 89%, 26%);
  --secondary-key-border:hsl(285, 91%, 52%);
  --secondary-key-color:hsl(0, 0%, 100%);
  --equal-key-background:hsl(176, 100%, 44%);
  --equal-key-border:hsl(177, 92%, 70%);
  --equal-key-color:hsl(198, 20%, 13%);
}